.wrapper {
    padding-top: 50;
    background: rgb(230,230,230);
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 2% 10%;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }