.card {
    background: whitesmoke;
    padding: 7px;
    border-radius: 2px;
    height: 220px;
    width: 220px;
    margin: 1rem;
    position: relative;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    opacity: .9;
}

.card > .img-container > img {
  width: 100%
}

.card:hover {
  opacity: 1;
}