.header {
    width: 100%;
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
    background: rgb(255,50,50);
    border-radius: 10px;
  }
  
  .title {
    float: left;
    margin-left: 10%;
    font-weight: 800;
  }
  
  .scores {
    float: right;
    margin-right: 10%;
    font-weight: 400;
  }