.header {
    width: 100%;
    font-size: 2rem;
    color: white;
    padding: 10px 0;
    background: rgb(81,50,164);
    /* border-radius: 10px; */
  }
  
  .title {
    float: left;
    margin-left: 10%;
    font-weight: 800;
  }
  
  .scores {
    float: right;
    margin-right: 10%;
    font-weight: 400;
  }