.header {
    width: 100%;
    font-size: 2vw;
    color: white;
    padding: 10px 0;
    background: rgb(81,50,164);
    box-shadow: 0 3px 6px #999;
    z-index: 1;
    position: fixed;
  }
  
  .title {
    float: left;
    margin-left: 10%;
    font-weight: 800;
  }
  
  .scores {
    float: right;
    margin-right: 10%;
    font-weight: 400;
  }

  .message {
    float: left;
    margin-left: 50px;
  }